<div class="navbar-top">
  <a href="/<%= username %>/profile">Profile</a>
  <% if(showTodayLink){ %>
    <a href="/<%= username %>/log"><i class="material-icons" id="today">today</i></a>
    <% } %>
  <a href="/<%= username %>/userStats">Stats</a>
</div>
<div class="navbar-container">
  <div class="navbar-bottom">
    <a class="material-icons prev-day" id="arrow-left">arrow_left</a>
    <% include dateDisplay %>
    <a class="material-icons next-day" id="arrow-right">arrow_right</a>
  </div>
  <div class="welcome">Welcome back <span class="username"><%=username%></span></div>
</div>
