<div class="navbar-top">
  <a href="/<%= username %>/profile">Profile</a>
  <% if(showTodayLink){ %>
    <a href="/<%= username %>/log"><i class="material-icons" id="today">today</i></a>
    <% } %>
</div>
