<% include ./partials/header %>
<head>
  <meta charset="utf-8">
    <title>MacroTracker</title>
</head>
<body>
  <div>Welcome to Macro Tracker</div>
  <a href="/login">Log in</a>
  <a href="/signup">Sign Up</a>

<% include ./partials/footer %>
