<% include ./partials/header %>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <title>My Food Buddy</title>
</head>
<body>
  <h3>Welcome to My Food Buddy</h3>
  <div class="container">
    <a class="button" href="/login">Log in as an existing user</a>
    <a class="button" href="/signup">Sign up as a new user</a>
    <div class="button demo"><a>Visit as a Demo User</a></div>
    <form action="/login" method="post" class="signin-container demo-form">
      <input name="username" placeholder="username" value="tim">
      <input name="password" type="password" placeholder="password" autocomplete="off" value="tim">
    </form>
    <script type="text/javascript" src="scripts/landing.js"></script>
<% include ./partials/footer %>
