<% include ./partials/header %>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/signin.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>MyFoodPal</title>
</head>
<body>
  <div class="title">Sign In</div>
  <form action="/login" method="post" class="signin-container">
    <input name="username" placeholder="username">
    <input name="password" type="password" placeholder="password" autocomplete="off">
    <button>Submit</button>
  </form>
<script type="text/javascript" src="scripts/scripts.js"></script>
<% include ./partials/footer %>
