<% include ./partials/header %>
<head>
  <meta charset="utf-8">
    <title>MacroTracker</title>
</head>
<body>
  
  <div>Welcome to Macro Tracker</div>
  <div>Sign In</div>
  <form action="/login" method="post">
    <input name="username" placeholder="username">
    <input name="password" placeholder="password">
    <button>Submit</button>
  </form>
<script type="text/javascript" src="scripts/scripts.js"></script>
<% include ./partials/footer %>
