<% include ./partials/header %>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacroTracker</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <h3>Sign up with a username</h3>
  <div class="container">
    <form action="/signup" method="post">
      <label>Username: </label>
        <input name="username" placeholder="username">
      <label>Email: </label>
        <input name="email" placeholder="email">
      <label>Password </label>
      <input name="password" placeholder="password">
      <button>Sign Up</button>
    </form>
  </div>
<% include ./partials/footer %>
