form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
}

label, button {
  display: block;
}

input, button {
  height: 6vh;
  border: 1px solid gray;
  display: border-box;
  margin: 2px;
}


@media  (min-width: 501px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "email-label email-input"
      "current-stats-label weight-input"
      "current-stats-label body-fat-input"
      "macro-labels carbs-input"
      "macro-labels fat-input"
      "macro-labels protein-input"
      "button button";
  }

  .email-label{
    grid-area: email-label;
  }

  .current-stats-label {
    grid-area: current-stats-label;
  }

  .macro-labels {
    grid-area: macro-labels
  }

  input[name=email] {
    grid-area: email-input;
  }

  input[name=weight]{
    grid-area: weight-input;
  }
  input[name=body-fat] {
    grid-area: body-fat-input;
  }
  input[name=carbs] {
    grid-area: carbs-input;
  }

  input[name=fats] {
    grid-area: fat-input;
  }

  input[name=protein] {
    grid-area: protein-input;
  }
  button {
    grid-area: button;
    width: 50%;
    justify-self: center;
  }
}
