body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.navbar-top {
  height: 30px;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0.75em 0.2em 0.25em 0.2em;
  background-color: #0070bf;
  color: white;
}
.navbar-top a {
  color:inherit;
  text-decoration: none;
 }

h4 {
  color: red;
  margin: 0.5rem auto;
}

body {
  font-size: 1.5em;
}
.outer-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  border: 1px solid black;
  grid-row-gap: 0.7rem;
}

.calories-grid, .macros-grid, .message-grid {
  background-color: white;
  justify-items: center;
}

.calories-grid {
  padding: 5px;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "cal-header cal-header"
    "cal-subtitle-consumed cal-subtitle-allowed"
    "cal-consumed cal-allowed"
    "cal-icon cal-difference"

}
.cal-header {
  grid-area: cal-header;
}

.cal-subtitle-consumed {
  grid-area: cal-subtitle-consumed;
}

.cal-subtitle-allowed {
  grid-area: cal-subtitle-allowed;
}

.cal-consumed {
  grid-area: cal-consumed;
}

.cal-allowed {
  grid-area: cal-allowed;
}

.cal-icon {
  grid-area: cal-icon;
  justify-self: end;
}

.cal-difference {
  grid-area: cal-difference;
  justify-self: start;
}


/* MACRO CARD */
.macros-grid {
  border: 1px solid blue;
  padding: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "macro-header macro-header macro-header"
    "carb-title fat-title protein-title"
    "targets-subtitle targets-subtitle targets-subtitle"
    "carb-target fat-target protein-target"
    "consumed-macros-subtitle consumed-macros-subtitle consumed-macros-subtitle"
    "carb-consumed fat-consumed protein-consumed"
    "macro-message macro-message macro-message";
}


.cal-subtitle-consumed, .cal-subtitle-allowed {
  font-style: italic;
}
.macro-header {
  grid-area: macro-header;
}

.carb-title, .fat-title, .protein-title {
  background-color: lightgoldenrodyellow;
  border-radius: 25%;
  height: 1.8rem;
  width: 1.8rem;
  text-align: center;
}
.carb-title {
  grid-area: carb-title;
}

.fat-title {
  grid-area:fat-title;
}

.protein-title {
  grid-area: protein-title;
}

.targets-subtitle {
  grid-area: targets-subtitle;

}

.carb-target {
  grid-area: carb-target;
}

.fat-target {
  grid-area: fat-target;
}

.protein-target {
  grid-area: protein-target;
}
.consumed-macros-subtitle {
  grid-area: consumed-macros-subtitle;
}

.targets-subtitle, .consumed-macros-subtitle {
  justify-self: center;
  font-style: italic;
}

.carb-balance {
  grid-area: carb-consumed;
}

.fat-balance {
  grid-area: fat-consumed;
}

.protein-balance {
  grid-area: protein-consumed;
}
.macro-message {
  grid-area: macro-message;
}
