.none {
  display: none;
}

body {
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.outmost-container {
  width: 96%;
  height: 95vh;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
  "navbar"
  "calorie-container"
  "outer-stats-container"
  "log-container"
  "new-entry-form";
  grid-row-gap: 2vh;
}

.navbar-container, .calorie-stats-container, .outer-stats-container,
.log-grid-container {
  align-self: start;
}

#arrow-left,
#arrow-right {
  font-size: 34px;
  text-decoration: none;
}
/* SECTION CONTAINERS */

.new-entry-form,
.outer-stats-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  min-width: 0;
}
.log-grid-container{
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
}


/* NAVBAR STYLES */
.navbar-container {
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  grid-area: navbar;
}
.navbar-top, .navbar-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#today {
  font-size: 8vw;
}

.greeting {
  align-self: center;
}

/*CALORIE SECTION  */
.calorie-stats-container {
  font-size: 5vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-area: calorie-container;
  justify-content: space-evenly;
}

.cal-target, .cal-consumed, .cal-burned, .cal-remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* SUMMARY SECTION */
.outer-stats-container {
  display: grid;
  grid-template-columns: auto;
  grid-area: outer-stats-container;
}

.stats-labels-container {
  display: none;
  grid-template-rows: auto auto auto;
  width: auto;
}
.stats-main-container {
  font-size: 5vw;
  background-color: ivory;
}
.stats-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  border-top: .7px solid lightblue;
  border-bottom: .7px solid lightblue;

}

.stats-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#of {
  margin: 0.3em;
}
#empty {
  color: white;
}

.remaining-stats-container,
.stats-header-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

/* LOGGED ITEMS SECTION */
.log-grid-container {
  font-size: 3.5vw;
  justify-items: center;
  align-items: center;
  grid-area: log-container;
  background-color: whitesmoke;
  border-radius: 12px;
}
.entry-name, .entry-carb, .entry-fat, .entry-protein {
  width: 100%;

}
.entry-name {
  text-align: left;
  margin-left: 15px;
}
.entry-carb, .entry-fat, .entry-protein {
  text-align: center;
}

.options {
  display: flex;
}


/* NEW ENTRY FORM */
.new-entry-form {
  height: 5vh;
  display: flex;
  justify-content: space-between  ;
  grid-area: new-entry-form;
}

.new-entry-form input {
  border-radius: 5px;
}
input[name="name"] {
  font-size: 3vw;
  text-align: left;
}
input[name="carb"],
input[name="fat"],
input[name="protein"] {
  width: 10vw;
  text-align: center;
}

input[class="new-entry-name"] {
  width: 28vw;

}

input[name=update-entry-protein],
input[name=update-entry-fat],
input[name=update-entry-carb],
input[name=update-entry-name]{
  font-size: 3vw;
  border: 1px solid gray;

}
input[name=update-entry-name]{
  width: 77px;
  text-align: left;
}

input[name=update-entry-fat],
input[name=update-entry-carb],
input[name=update-entry-protein] {
  width: 5vw;
  text-align: right;
  border-radius: 5px;
}

.favorite, .ajax-post{
  width: 6vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

#favorite, #add-entry {
  align-self: center;

}

.ajax-post:hover {
  background-color: #3e8e41;
}
.ajax-post:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
